body,
html {
    margin: 0;
}
.Header-Frame {
    width: 100%;
    height: 85px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    position: fixed;
}
.Toko-Rinus-Logo-Frame {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Toko-Rinus-Logo {
    width: 125px;
}
a {
    text-decoration: none;
}
.Oranje-Text {
    color: #F49800;
    font-family: "Poppins", serif;
    font-weight: bolder;
    transition: 0.5s;
}
.Zwarte-Text, .Header-Zwarte-Text {
    color: black;
    font-family: "Poppins", serif;
    font-weight: bolder;
    transition: 0.5s;
}
.Footer-Frame {
    width: 100%;
    background-color: #fea81e;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.Social-Media-Frame {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-radius: 100px;
    background-color: #ffffff;
    transition: 0.5s;
}
i {
    font-size: 40px;
    color: #F49800;
} 
.Footer-Frame-Bodem {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    position: fixed;
    z-index: 10;
    width: 100%;
}
.progress-container {
    width: 100%;
    height: 8px;
    background-color: #ffffff;
}
  
  /* The progress bar */
.progress-bar {
    height: 8px;
    background-color: #F49800;
    width: 0%;
}
.Achtergrond-Welkom {
    width: 100%;
    height: 800px;
    background-image: url("Afbeeldingen/Achtergrond.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    flex-direction: column;
}
.Titel-Text {
    color: rgb(255, 255, 255);
    font-family: "Poppins", serif;
    font-weight: 550;
    font-size: 70px;
}
.Zwarte-Titel-Text {
    color: rgb(0, 0, 0);
    font-family: "Poppins", serif;
    font-weight: 550;
    font-size: 70px;
}
.Text-Frame{
    width: 400px;
    height: 260px;
    display: flex;
    justify-content: center;
}
.Border {
    background-color: #F49800;
    width: 400px;
    height: 10px;
    border-radius: 20px;
}
.Niet-Dikgedrukt-Zwarte-Text {
    color: black;
    font-family: "Poppins", serif;
    font-weight: normal;
}
.Niet-Dikgedrukt-Witte-Text {
    color: #ffffff;
    font-family: "Poppins", serif;
    font-weight: normal;
}
.Witte-Text {
    color: #ffffff;
    font-family: "Poppins", serif;
    font-weight: bolder;
}
.Knop {
    width: 160px;
    height: 60px;
    background-color: #F49800;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Menu-Achtergrond {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.Niet-Gedrukte-Knop {
    width: 160px;
    height: 60px;
    background-color: #DCDCDC;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Titel-Rij {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.Menu-Rij {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.Kost-Rij {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Afbeelding-Frame {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Afbeelding-Van-Eten {
    width: 180px;
}
.Kost-Frame {
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Product-Frame {
    width: 220px;
    height: 220px;
    background-color: #F49800;
    border-radius: 19px;
}