.MenuFrame {
    background: #F49800;
    width: 75%;
    height: 250px;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0px 15px 8px rgba(124, 124, 124, 0.616);
}
.naam {
    color: #ffffff;
    font-family: "Poppins", serif;
    font-weight: 550;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    background: #F49800;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
i {
    color: white;
    font-size: 25px;
}
.Bericht-Rij {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Keuze-Rij {
    width: 100%;
    height: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.Beschrijving {
    color: #ffffff;
    font-family: "Poppins", serif;
    font-weight: 550;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Zoek {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    width: 100%;
    height: 140px;
    gap: 10px;
    border-style: none;
}
.InvoerVeld {
    color: #F49800;
    width: 250px;
    height: 50px;
    border-style: solid;
}
body,
html {
    margin: 0;
}
.Header-Frame {
    width: 100%;
    height: 85px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: fixed;
}
.Toko-Rinus-Logo-Frame {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Toko-Rinus-Logo {
    width: 125px;
}
.Onzichtbare-Div {
    width: 100%;
    height: 100px;
}
a {
    text-decoration: none;
}
.Oranje-Text {
    color: #F49800;
    font-family: "Poppins", serif;
    font-weight: bolder;
    transition: 0.5s;
}
.Zwarte-Text, .Header-Zwarte-Text {
    color: black;
    font-family: "Poppins", serif;
    font-weight: bolder;
    transition: 0.5s;
}
.AdminToevoegen {
    width: 100%;
    height: 200px;
    background-color: #F49800;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Admin-Uitleg-Rij {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Footer-Frame {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #494949;
}
.Admin-Navigatie-Rij {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.Sociale-Media-Rij {
    width: 300px;
    height: 300px;
    display: flex;
    justify-self: center;
    align-items: flex-end;
    flex-direction: column;
}
.header {
    position: fixed;
    z-index: 10;
    width: 100%;
}
.progress-container {
    width: 100%;
    height: 8px;
    background-color: #ffffff;
}

/* The progress bar */
.progress-bar {
    height: 8px;
    background-color: #F49800;
    width: 0;
}
.Achtergrond-Welkom {
    width: 100%;
    height: 800px;
    background-image: url("Afbeeldingen/Achtergrond.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.Achtergrond-Login {
    width: 100%;
    height: 800px;
    background-image: url("Afbeeldingen/Achtergrond-Login.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
}
.Login-Frame {
    width: 450px;
    height: 430px;
    background-color: rgb(255, 255, 255);
}
.Login-Frame-Titel {
    width: 100%;
    height: 90px;
    background-color: #F49800;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Invul-Login-Rij {
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Knop-Rij {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Naam-Frame {
    width: 350px;
    height: 65px;
    background-color: #dcdcdc00;
    border-style: solid;
    border-radius: 10px;
    border-color: #F49800;
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.Text-Contact {
    width: 280px;
    height: 80%;
    background-color: #dcdcdc00;
    border-style: none;
    color: #F49800;
    font-family: "Poppins", serif;
    font-weight: 550;
    font-size: 25px;
}
.Titel-Text {
    color: rgb(255, 255, 255);
    font-family: "Poppins", serif;
    font-weight: 550;
    font-size: 70px;
}
.Zwarte-Titel-Text {
    color: rgb(0, 0, 0);
    font-family: "Poppins", serif;
    font-weight: 550;
    font-size: 70px;
}
.Text-Frame{
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.Border {
    background-color: #F49800;
    width: 400px;
    height: 10px;
    border-radius: 20px;
}
.Niet-Dikgedrukt-Zwarte-Text {
    color: black;
    font-family: "Poppins", serif;
    font-weight: normal;
}
.Niet-Dikgedrukt-Witte-Text {
    color: #ffffff;
    font-family: "Poppins", serif;
    font-weight: normal;
}
.Witte-Text {
    color: #ffffff;
    font-family: "Poppins", serif;
    font-weight: bolder;
}
.Knop {
    width: 160px;
    height: 60px;
    background-color: #F49800;
    border-radius: 10px;
    display: flex;
    border-style: none;
    justify-content: center;
    align-items: center;
}
.Knop-Bewerk {
    width: 100px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    border-style: none;
    justify-content: center;
    align-items: center;
}
.Login-Knop {
    width: 360px;
    height: 60px;
    background-color: #F49800;
    border-radius: 10px;
    display: flex;
    border-style: none;
    justify-content: center;
    align-items: center;
}
.Niet-Gedrukte-Knop {
    width: 160px;
    height: 60px;
    background-color: #DCDCDC;
    border-radius: 10px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Winkel-Rij {
    width: 100%;
    height: 600px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.Winkel-Frame-Links {
    width: 33%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Winkel-Frame-Rechts {
    width: 40%;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Text-Frame {
    width: 400px;
    height: 160px;
    display: flex;
    flex-direction: column;
}
.Afbeelding-Winkel {
    width: 600px;
    border-radius: 30px;
    border-style: solid;
    border-color: #F49800;
    border-width: 10px;
    box-shadow: 0px 25px 10px rgba(124, 124, 124, 0.616);
}