.MenuFrame {
    background: #F49800;
    width: 60%;
    height: 200px;
    display: flex;
    justify-self: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    gap: 40px;
}

.MenuFrame-Admin {
    background: #F49800;
    width: 75%;
    height: 380px;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0px 15px 8px rgba(124, 124, 124, 0.616);
}

.Toevoegen-Frame {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rode-Knop {
    width: 160px;
    height: 60px;
    background-color: #f40000;
    border-radius: 10px;
    display: flex;
    border-style: none;
    justify-content: center;
    align-items: center;
}

.Blauwe-Knop {
    width: 160px;
    height: 60px;
    background-color: #105cff;
    border-radius: 10px;
    display: flex;
    border-style: none;
    justify-content: center;
    align-items: center;
}

.Groene-Knop {
    width: 200px;
    height: 60px;
    background-color: #27e30a;
    border-radius: 10px;
    display: flex;
    border-style: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.Terug-Knop {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Delete-Rij {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.naam {
    color: #ffffff;
    font-family: "Poppins", serif;
    font-weight: 550;
    width: 450px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Toevoegen-Rij {
    width: 300px;
    border-color: #F49800;
    border-style: solid;
    border-radius: 15px;
    border-width: 6px;
    height: 45px;
}
.Knop-Rij-Bewerk {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60px;
}

.Verzenden {
    background-color: #F49800;
    border-style: none;
    border-radius: 10px;
    width: 100px;
}

button {
    background: #F49800;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

i {
    color: white;
    font-size: 25px;
}

.Bericht-Rij {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Keuze-Rij {
    width: 100%;
    height: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.Producten {
    border-collapse: collapse;
    width: 100%;
    font-family: "Poppins", serif;
    font-weight: normal;
}

.Beschrijving {
    color: #ffffff;
    font-family: "Poppins", serif;
    font-weight: 550;
    width: 320px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ZoekKnop {
    height: 55px;
    width: 55px;
    border-radius: 10px;
    border-style: none;
    transition: 0.5s;
}

.Zoek {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
    width: 100%;
    height: 140px;
    gap: 10px;
    border-radius: 10px;
}

.InvoerVeld {
    color: #F49800;
    width: 250px;
    height: 50px;
    border-style: solid;
    border-radius: 10px;
}

body,
html {
    margin: 0;
}
.Contact-Frame {
    background-color: #F49800;
    width: 32%;
    height: 400px;
    border-radius: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Logo {
    color: white;
    font-size: 50px;
}
.Contact-Rij {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-image: url("Afbeeldingen/painted-wooden-plank-textured-backdrop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Header-Frame {
    width: 50%;
    height: 75px;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 3px rgba(200, 200, 200, 0.32);

}

.Header-Rij {
    width: 100%;
    height: 100px;
    background-color: rgba(244, 152, 0, 0);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Toko-Rinus-Logo-Frame {
    width: 120px;
    height: 100%;
    background-color: rgba(244, 152, 0, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Toko-Rinus-Logo {
    width: 125px;
}

.Onzichtbare-Div {
    width: 100%;
    height: 100px;
}
.Onzichtbare-Div-Klein {
    width: 100%;
    height: 40px;
}

a {
    text-decoration: none;
}

.Oranje-Text {
    color: #F49800;
    font-family: "Poppins", serif;
    font-weight: bolder;
    transition: 0.5s;
}

.Zwarte-Text, .Header-Zwarte-Text {
    color: black;
    font-family: "Poppins", serif;
    font-weight: bolder;
    transition: 0.5s;

}

.AdminToevoegen {
    height: 350px;
    width: 450px;
    display: flex;
    gap: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.Admin-Uitleg-Rij {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Footer-Frame {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #494949;
}

.Admin-Navigatie-Rij {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sociale-Media-Rij {
    width: 300px;
    height: 300px;
    display: flex;
    justify-self: center;
    align-items: flex-end;
    flex-direction: column;
}

.header {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.Achtergrond-Welkom {
    width: 100%;
    height: 700px;
    background-image: url("Afbeeldingen/painted-wooden-plank-textured-backdrop.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    gap: 50px;
}
.Achtergrond-Bewerk {
    width: 100%;
    height: 800px;
    background-image: url("Afbeeldingen/painted-wooden-plank-textured-backdrop.jpg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
}

.Rechter-Rij {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AfbeeldingEten {
    width: 600px;
    border-radius: 50%;
    box-shadow: 0px 50px 50px rgba(28, 28, 28, 0.32);
}

.Achtergrond-Login {
    width: 100%;
    height: 800px;
    background-image: url("Afbeeldingen/Achtergrond-Login.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
}

.Login-Frame {
    width: 400px;
    height: 340px;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login-Frame-Titel {
    width: 100%;
    height: 90px;
    background-color: #F49800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Invul-Login-Rij {
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Knop-Rij {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Naam-Frame {
    width: 350px;
    height: 65px;
    background-color: #dcdcdc00;
    border-style: solid;
    border-radius: 10px;
    border-color: #F49800;
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.Text-Contact {
    width: 280px;
    height: 80%;
    background-color: #dcdcdc00;
    border-style: none;
    color: #F49800;
    font-family: "Poppins", serif;
    font-weight: 550;
    font-size: 25px;
}

.Titel-Text {
    color: rgb(255, 255, 255);
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 55px;
}

.Zwarte-Titel-Text {
    color: rgb(0, 0, 0);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 1000;
    font-size: 55px;
}

.Text-Frame {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Border {
    background-color: #F49800;
    width: 400px;
    height: 10px;
    border-radius: 20px;
}

.Niet-Dikgedrukt-Zwarte-Text {
    color: black;
    font-family: "Poppins", serif;
    font-weight: normal;
}

.Niet-Dikgedrukt-Witte-Text {
    color: #ffffff;
    font-family: "Poppins", serif;
    font-weight: normal;
}

.Witte-Text {
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bolder;
}

.Knop {
    width: 160px;
    height: 60px;
    background-color: #F49800;
    border-radius: 10px;
    display: flex;
    border-style: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: 0.5s;
}

.Bewerk-Verwijder-Rij {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Knop-Bewerk {
    width: 100px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    border-style: none;
    justify-content: center;
    align-items: center;
}

.Login-Knop {
    width: 360px;
    height: 60px;
    background-color: #F49800;
    border-radius: 10px;
    display: flex;
    border-style: none;
    justify-content: center;
    align-items: center;
}

.Niet-Gedrukte-Knop {
    width: 160px;
    height: 60px;
    background-color: #DCDCDC;
    border-radius: 10px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Winkel-Rij {
    width: 100%;
    height: 600px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.Winkel-Frame-Links {
    width: 35%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Footer-Rij {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Zwarte-Bold-Text {
    color: rgb(0, 0, 0);
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 1000;
}

#Zwarte-Logo {
    color: #000000;
    font-size: 50px;
}

.Text-Frame-Footer {
    width: 400px;
    height: 200px;
    background-color: #F49800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Winkel-Frame-Rechts {
    width: 40%;
    height: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.Text-Frame {
    width: 400px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.Afbeelding-Winkel {
    width: 600px;
    border-radius: 30px;
    border-style: solid;
    box-shadow: 0px 25px 10px rgba(124, 124, 124, 0.616);
}

.Afbeelding-Over-Ons {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 25px 10px rgba(124, 124, 124, 0.616);
}

.Header-Zwarte-Text:hover {
    transform: translateY(-3px);
    transform: rotate(4deg);
}

.Knop:hover {
    transform: translateY(-3px);
    transform: rotate(4deg);
    cursor: pointer;
}
.ZoekKnop:hover {
    transform: translateY(-3px);
    transform: rotate(4deg);
    cursor: pointer;
}